/*Madison Mesenbrink*/
/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start code*/
body{
	font-family: 'montserrat', sans-serif;
	font-size: 1rem;
	color: #000000;
}
h1,h2,h3{
	font-family: 'Molle', sans-serif;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	left: -10000px;
	top: auto;
	overflow: hidden;
}
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip:focus{
	position: static;
	width: auto;
	height: auto;
}
#menu-toggle{
	display: grid;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
ul li{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color: #55BCD5;
	border: 1px solid black;
	padding-top: 4rem;
}
li a{
	text-decoration: none;
	color: #000000;
}
label{
	display: inline-block;
	position: relative;
	cursor: pointer;
}
/*nav label{
	position: absolute;
	width:50%;
	background-color: #F6D64A;
	text-align: center;
	right: 0;
}*/
#intro h2{
	background-color: teal;
	font-size: 2rem;
	padding: 10px;
}
#intro p{
	background-image: linear-gradient(teal, white);
	font-size: 1rem;
	padding: 40px;
}
#intro img{
	width: 100%;
	margin-bottom: 30px;
}
#plan{
	background-color: #F6D64A;
}
#plan h3{
	font-size: 2rem;
	padding-top: 20px;
}
h1,h2,h3,h4{
	font-size: 2rem;
}
#plan section{
	background-color: #55BCD5;
	border-color: white;
	border-radius: 3px;
	text-align: center;
	display: grid;
	margin: 40px;
	margin-left: 200px;
	margin-right: 200px;
	text-transform: uppercase;
}
#testimonials{
	text-align: center;
	padding: 20px;
}
#testimonials section{
	font-style: italic;
	padding: 20px;
}
#about{
	
	background-color: #499BD2;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
